body{
    background-color: #ff8080;
}
img{
    position: absolute;
  right: 60px;
  padding-left: 700px;
  padding-right: 700px;
}
a:link{
  color: palegreen;
}
a:visited{
  color: rgb(177, 108, 4);
}

